* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  font-weight: bolder;
  margin-top: 30px;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

main {
  margin-top: 50px;
}

.container {
  width: 90%;
  margin-inline: auto;
}

.container h1 {
  text-align: center;
}

.boxes-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  border: 1px solid black;
  width: 30%;
  height: 284px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box span {
  margin-bottom: 15px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.image-box {
  border: 1px solid black;
  width: 40%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box span {
  text-align: center;
}

.text-box {
  width: 40%;
  height: 450px;
  text-align: center;
  padding-block: 20px;
}

.text-box p {
  font-size: 1.5rem;
  word-spacing: 1.5rem;
}
